* {
    font-family: Helvetica;
}

p {
    text-align: justify;
}

.login-div-external {
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;
    width: 700px;
    height: 500px;
    background-color: lightblue;
}

.logo {
    display: inline-block;
    height: 50px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.login-div-internal {
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -250px;
    width: 500px;
    height: 350px;
    background-color: #00ffff;
}

.login-message {
    margin-left: 50px
}

.login-username {
    width: 375px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 62.5px;
    top: 50px;
}

.login-username:focus {
    outline: none;
}

.login-password {
    width: 375px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 62.5px;
    top: 125px;
}

.login-password:focus {
    outline: none;
}

.login-login-button {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 287.5px;
    top: 200px;
    background-color: #3366cc;
    cursor: pointer;
}

.login-login-button:hover {
    background-color: blue;
    color: wheat;
}

.login-new-account {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 62.5px;
    top: 200px;
    background-color: lightblue;
    cursor: pointer;
}

.Patreons {
    margin-right: 0;
}

.Menu {

    display: inline;
    position: fixed;
    top: 0;
    justify-content: left;
    width: 100%;
    background-color: #0c4fed;

}


.Menu h1 {
    color: burlywood;

}

.Menu .form-label {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-right: 15%;
    padding-left: 15%;
    align-items: center;
    display: table;

}


.ButtonContainer a {

    color: burlywood;

}

.ButtonContainer a:hover {

    color: #2f4f4f;

}


.Timer {
    font-size: 50px;

}

.TimerClock {
    color: #2f4f4f;
    text-decoration: none;
}

.TimerClock:hover {
    color: #2f4f4f;
}

.Menu button {

    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;

    border-style: hidden;
    background-color: #0c4fed;
}


.Menu button:hover {

    color: #0c4fed;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;

    border-style: hidden;
    background-color: white;
    border-radius: 5px;

    color: #2f4f4f;

}


.Intro {
    color: #2f4f4f;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    font-size: 20px;
    border-style: hidden;
    text-align: left;
    margin-bottom: 50px;
}


.Location {
    color: #2f4f4f;
    margin-top: 100px;

    font-size: 20px;
    display: flex;

    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
}



.People {
    color: #2f4f4f;
    margin-top: 70px;

    font-size: 20px;
    display: flex;

    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.People h2 {
    margin-top: 40px;
    border-top: solid;
}


.People h4 {
    margin-top: 20px;
}

.Keynote {
    color: #2f4f4f;
    margin-top: 100px;

    font-size: 20px;
    display: flex;

    border-style: hidden;
    margin-right: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}


.Dates {
    color: #2f4f4f;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.Previous {
    color: #2f4f4f;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.Program {
    color: #2f4f4f;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.Previous a {
    color: #2f4f4f;

}

.Previous a:hover {
    color: #2f4f4f;
}

.Accommodation {
    color: #2f4f4f;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    border-style: hidden;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.Accommodation a {
    color: #2f4f4f;

}

.Accommodation a:hover {
    color: #2f4f4f;

}

.Accommodation h3 {
    margin-top: 20px;
}

.Accommodation img {
    max-width: 100%;
}

.Person {
    display: flex;
    font-size: medium;
}

.Person img {
    margin-right: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.ImportantDates {
    margin-left: 0px;
    display: inline;
}

.ImportantDates h2 {
    margin-bottom: 20px;
}

.Location h3 {
    margin-top: 20px;
}

.Location img {
    max-width: 100%;
}




.day {
    background-color: rgb(28, 28, 218);
    width: 1000px;
}

.now {
    border-style: none;
    border-width: 2px;
    width: 1000px;
    background-color: rgb(239, 237, 245);
    margin-bottom: 5px;
}

.now p {
    margin-left: 20px;
}

.past {
    border-style: none;
    width: 1000px;
    background-color: lightgray;
    border-width: 2px;
    margin-bottom: 5px;
}

.past p {
    margin-left: 20px;
}

.future {
    border-style: none;
    width: 1000px;
    border-width: 2px;
    background-color: white;
    margin-bottom: 5px;

}

.future p {
    margin-left: 20px;
}


.itemInfo {
    background-color: #0c4fed;
    display: flex;
    margin-bottom: 0px;
    color: white;
}

.itemInfo p {
    display: flex;
    margin-bottom: 0px;
}


.itemAbstract {
    font-size: small;
}

.itemAuthor {
    color: lightgray;
}

.agora {
    color: gold;
}

.dentro {
    color: silver;
}

.RegistrationTable {
    border-style: solid;
    border-color: white;
}

.RegistrationTable th {
    background-color: #0c4fed;
    color: white;
    padding: 10px;
    border: 2px solid white;

    padding-bottom: 20px;
}

.RegistrationTable td {
    border: 2px solid #2f4f4f;
    background-color: lavender;
    padding: 10px;
}

.ProgramDay {
    border-style: none;
    border-top: solid;
    margin-bottom: 40px;
    margin-top: 40px;

}

.footer {
    position: fixed;
    bottom: 0px;
    height: 15px;
    justify-content: left;
    width: 100%;
    align-items: left;
    background-color: #0c4fed;

}


.SlideImageContainer {
    max-width: 100%;
    height: 270px;
}

.SlideImage {
    max-width: 26.4%;
    margin-left: 5%;
    max-height: 300px;
    align-self: center;
    margin-top: 20px;
}

@media only screen and (max-width: 955px) {
    /* For mobile phones: */
    .Intro,.Location,.Keynote,.People,.Dates,.Accommodation,.Previous {
      margin-top: 150px;
    }
  }


  @media only screen and (max-width:  512px) {
    /* For mobile phones: */
    .Intro,.Location,.Keynote,.People,.Dates,.Accommodation,.Previous {
        margin-top: 220px;
        margin-right: 50px;
        margin-left: 50px;

    }
  }

  @media only screen and (max-width:  377px) {
    /* For mobile phones: */
    .Intro,.Location,.Keynote,.People,.Dates,.Accommodation,.Previous {
        margin-top: 270px;
        margin-right: 20px;
        margin-left: 20px;

    }
  }

