
* {
    font-family: Helvetica;
}

p {
    text-align: justify;
}

.login-div-external {
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;
    width: 700px;
    height: 500px;
    background-color: lightblue;
}

.logo {
    display: inline-block;
    height: 50px;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: 10px;
}

.login-div-internal {
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -250px;
    width: 500px;
    height: 350px;
    background-color: #00ffff;
}

.login-message {
    margin-left: 50px
}

.login-username {
    width: 375px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 62.5px;
    top: 50px;
}

.login-username:focus {
    outline: none;
}

.login-password {
    width: 375px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 62.5px;
    top: 125px;
}

.login-password:focus {
    outline: none;
}

.login-login-button {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 287.5px;
    top: 200px;
    background-color: #3366cc;
    cursor: pointer;
}

.login-login-button:hover {
    background-color: blue;
    color: wheat;
}

.login-new-account {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 62.5px;
    top: 200px;
    background-color: lightblue;
    cursor: pointer;
}

.Patreons {
    margin-right: 0;
}

.Menu {

    display: inline;
    position: fixed;
    top: 0;
    justify-content: left;
    width: 100%;
    background-color: #0c4fed;
    z-index: 1;

}


.Menu h1 {
    color: burlywood;

}

.Menu .form-label {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.ButtonContainer {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding-right: 15%;
    padding-left: 15%;
    align-items: center;
    display: table;

}


.ButtonContainer a {

    color: burlywood;

}

.ButtonContainer a:hover {

    color: #2f4f4f;

}


.Timer {
    font-size: 40px;
    font-weight: bold;

}

.TimerClock {
    color: #2f4f4f;
    text-decoration: none;
}

.TimerClock:hover {
    color: #2f4f4f;
}

.Menu button {

    color: white;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 18px;

    border-style: hidden;
    background-color: #0c4fed;
}


.Menu button:hover {

    color: #0c4fed;
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;

    border-style: hidden;
    background-color: white;
    border-radius: 5px;

    color: #2f4f4f;

}


.Intro {
    color: #2f4f4f;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    font-size: 20px;
    border-style: hidden;
    text-align: left;
    margin-bottom: 50px;
}


.Location {
    color: #2f4f4f;
    margin-top: 100px;

    font-size: 20px;
    display: flex;

    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
}


.People {
    color: #2f4f4f;
    margin-top: 70px;

    font-size: 20px;
    display: flex;

    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.People h2 {
    margin-top: 40px;
    border-top: solid;
}


.People h4 {
    margin-top: 20px;
}

.Keynote {
    color: #2f4f4f;
    margin-top: 100px;

    font-size: 20px;
    display: flex;

    border-style: hidden;
    margin-right: 100px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}


.Dates {
    color: #2f4f4f;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.Previous {
    color: #2f4f4f;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}


.Previous li {
    margin: 0;
	padding: 10px 0 10px 90px;
	list-style: none;
    background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 80px;  
}

.TrackList li {
    margin: 0;
	padding: 10px 0 10px 90px;
	list-style: none;
    background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 80px;  
}

.Program {
    color: #2f4f4f;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    border-style: hidden;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.Previous a {
    color: #2f4f4f;

}

.Previous a:hover {
    color: #2f4f4f;
}

.Accommodation {
    color: #2f4f4f;
    margin-top: 100px;
    font-size: 20px;
    display: flex;
    border-style: hidden;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
}

.Hotels{
    display:block;
    width: 100%;
}

.Accommodation a {
    color: #2f4f4f;

}

.Accommodation a:hover {
    color: #2f4f4f;

}

.Accommodation img {
    max-width: 100%;
}

.Person {
    display: flex;
    font-size: medium;
}

.Person img {
    margin-right: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.ImportantDates {
    margin-left: 0px;
    display: flex;
}

.mb-2 {
    margin-bottom: 2em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-4 {
    margin-top: 4em;
}

.mt-0 {
    margin-top: 0em;
}

.pb-0 {
    padding-bottom: 0em;
}


.Location img {
    max-width: 100%;
}


.day {
    background-color: rgb(28, 28, 218);
    width: 1000px;
}

.now {
    border-style: none;
    border-width: 2px;
    width: 1000px;
    background-color: rgb(239, 237, 245);
    margin-bottom: 5px;
}

.now p {
    margin-left: 20px;
}

.past {
    border-style: none;
    width: 1000px;
    background-color: lightgray;
    border-width: 2px;
    margin-bottom: 5px;
}

.past p {
    margin-left: 20px;
}

.future {
    border-style: none;
    width: 1000px;
    border-width: 2px;
    background-color: white;
    margin-bottom: 5px;

}

.future p {
    margin-left: 20px;
}


.itemInfo {
    background-color: #0c4fed;
    display: flex;
    margin-bottom: 0px;
    color: white;
}

.itemInfo p {
    display: flex;
    margin-bottom: 0px;
}


.itemAbstract {
    font-size: small;
}

.itemAuthor {
    color: lightgray;
}

.agora {
    color: gold;
}

.dentro {
    color: silver;
}

.RegistrationTable {
    border-style: solid;
    border-color: white;
}

.RegistrationTable th {
    background-color: #0c4fed;
    color: white;
    padding: 10px;
    border: 2px solid white;

    padding-bottom: 20px;
}

.RegistrationTable td {
    border: 2px solid #2f4f4f;
    background-color: lavender;
    padding: 10px;
}

.ProgramDay {
    border-style: none;
    border-top: solid;
    margin-bottom: 40px;
    margin-top: 40px;

}

.footer {
    position: fixed;
    bottom: 0px;
    height: 15px;
    justify-content: left;
    width: 100%;
    align-items: left;
    background-color: #0c4fed;

}


.SlideImageContainer {
    max-width: 100%;
    position: relative;
    margin-bottom: 50px;
}


.SlideImage {
    margin-left: 15%;
    width: 70%;
    aspect-ratio: 3.5 / 1;
    align-self: center;
    margin-top: 10px;
    position: relative;
    object-fit: cover;

}

.oldDate {
    color: lightgray;
}


.Tracks {
    display: flex;
}

.TracksOne {
    margin-right: 5%;
    width: 60%;
}

.TracksTwo {
    width: 35%;
    
}

.InsideTracksTwo {
    font-size: smaller;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
    margin-bottom: 20x;
    margin-left: 20px;  
    padding-left: 10px;
    padding-right: 10px;
    
}



.InsideTracksTwo:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.Tracks li {
    margin: 0;
	padding: 10px 0 10px 65px;
	list-style: none;
    background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px;  }

.Tracks a {
    color: orange;
}

.Tracks a:hover {
    color: red;
}

.Submission {
    background-color: #0c4fed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 10px;
    color: white;
}


.Submission:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

.ImportantDatesHighlightsExternal {
    width: 30%;
}

.ImportantDatesHighlights {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    font-size: smaller;
}

.ImportantDatesHighlights:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.ImportantDatesHighlights H1{
    color: #0c4fed;
}

.ImportantDatesHighlights li {
    margin: 0;
	padding: 10px 0 10px 65px;
	list-style: none;
    background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 50px;  
}

.InforumStructure {
    width: 65%;
    margin-right: 5%;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    max-width: 270px;
    float: left;
    margin-bottom: 20px;
    margin-left: 20px;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .card img{
    object-fit: cover;
    max-width: 270px;
    width: 100%;

  }

  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    background-color: #0c4fed;
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px;
    
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */


    
@media only screen and (max-width: 850px) {
    /* For mobile phones: */
    .Tracks {
        display: block;
    }

    .TracksOne {
        margin-right: 0%;
        width: 100%;
    }

    .TracksTwo {
        width: 100%;
    }

}

@media only screen and (max-width: 955px) {
    /* For mobile phones: */
    .Intro, .Location, .Keynote, .People, .Dates, .Accommodation, .Previous {
        margin-top: 150px;
    }

}



@media only screen and (max-width: 1000px) {
    /* For mobile phones: */
    .ImportantDates {
        display: block;
    }

    .InforumStructure {
        width: 100%;
    }

    .ImportantDatesHighlightsExternal{
        width: 100%;
    }
}


@media only screen and (max-width: 650px) {
    /* For mobile phones: */
    .Intro, .Location, .Keynote, .People, .Dates, .Accommodation, .Previous {
        margin-top: 220px;
        margin-right: 50px;
        margin-left: 50px;

    }

    .Timer {
        font-size: 20px;
    }

}

@media only screen and (max-width: 377px) {
    /* For mobile phones: */
    .Intro, .Location, .Keynote, .People, .Dates, .Accommodation, .Previous {
        margin-top: 270px;
        margin-right: 20px;
        margin-left: 20px;

    }
}

